extends ../layout.pug

block content
  section.detail
    div
      h1 #{name}
      img(width="350" src=productImageURL, alt=name)
    div.description
      span.tag #{category}
      p #{description}
      h3 $ #{price} .00 MXN
       form(action="/cart/add/", method="post")
            input(type="hidden", name="productId", value=_id)
            input.call-to-action(type="submit", value="Agregar al carrito")
